[submodule "libs/apto"]
	path = libs/apto
	url = https://github.com/gedejong/apto.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/gedejong/avida-wiki.git
[submodule "libs/backward-cpp"]
	path = libs/backward-cpp
	url = https://github.com/gedejong/backward-cpp.git
